<configuration>
    <springProfile name="prod">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> <!-- Send logs to console (stdout) -->
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/> <!-- log in json -->
        </appender>
    </springProfile>

    <springProfile name="dev">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> <!-- Send logs to console (stdout) -->
            <encoder>
                <!-- time, [thread], Log level (INFO, ERROR, DEBUG), logger name(max 36 chars), log message -->
                <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <root level="INFO">
        <!-- level: Error, Warn, Info -->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>